<div class="post-meta">
    <span class="post-meta-item post-meta-date">
        <time datetime="{{date format="YYYY-MM-DD"}}">
            {{date published_at format="DD MMM YYYY"}}
        </time>
    </span>
    {{#if tags}}
        <span class="post-meta-item post-meta-tags">
            {{#foreach tags}}
                <a class="post-tag post-tag-{{slug}}" data-tag-slug="{{slug}}" data-tag-name="{{name}}" href="{{url}}" title=""></a>
            {{/foreach}}
        </span>
    {{/if}}
</div>
