<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{@site.title}}</title>
        <link>{{@site.url}}</link>
        <description>{{@site.description}}</description>
        <language>{{@site.locale}}</language>
        <copyright>&#169; {{date format="YYYY"}} {{@site.title}}</copyright>
        <atom:link href="{{@site.url}}/rss/" rel="self" type="application/rss+xml" />
        <lastBuildDate>{{date format="ddd, DD MMM YYYY HH:mm:ss ZZ"}}</lastBuildDate>

        {{#get "posts" include="tags,authors" limit="20" order="published_at desc" as |posts|}}
            {{#foreach posts}}
                <item>
                    <title>{{title}}</title>
                    <link>{{url absolute="true"}}</link>
                    <guid isPermaLink="true">{{url absolute="true"}}</guid>
                    <pubDate>{{date format="ddd, DD MMM YYYY HH:mm:ss ZZ"}}</pubDate>
                    {{#primary_author}}<dc:creator><![CDATA[{{name}}]]></dc:creator>{{/primary_author}}
                    {{#foreach tags}}<category><![CDATA[{{name}}]]></category>{{/foreach}}
                    <description><![CDATA[{{#if custom_excerpt}}{{custom_excerpt}}{{else}}{{excerpt words="45"}}{{/if}}]]></description>
                    <content:encoded><![CDATA[{{content}}]]></content:encoded>
                </item>
            {{/foreach}}
        {{/get}}
    </channel>
</rss>
