{{!< default}}

<div class="gh-outer">
<main class="site-main gh-inner">

    <section class="term term-tag-header">
        {{#if tag.feature_image}}
            <div class="tag-header-image-wrap">
                <img class="tag-header-image" src="{{img_url tag.feature_image size="l"}}" alt="{{tag.name}}">
            </div>
        {{/if}}
        <h1 class="term-name">{{tag.name}}</h1>
        {{#if tag.description}}
            <div class="term-description">{{tag.description}}</div>
        {{/if}}
    </section>

    {{#get "posts" filter="tag:{{tag.slug}}+featured:true" include="tags,authors" limit="1"}}
        {{#if posts}}
            <section class="tag-featured" aria-label="Featured post">
                <h2 class="tag-featured-title">Featured post</h2>
                <div class="post-feed gh-feed">
                    {{#foreach posts limit="1"}}
                        {{> "loop"}}
                    {{/foreach}}
                </div>
            </section>

            <section class="tag-post-list" aria-label="Post list">
                <h2 class="tag-post-list-title">Latest posts</h2>
                <div class="post-feed gh-feed js-promo-feed">
                    {{#foreach ../posts}}
                        {{#unless featured}}
                            {{> "loop"}}
                        {{/unless}}
                    {{/foreach}}
                </div>
            </section>

            {{pagination}}
        {{else}}
            <section class="tag-featured" aria-label="Featured post">
                <h2 class="tag-featured-title">Featured post</h2>
                <div class="post-feed gh-feed">
                    {{#foreach ../posts limit="1"}}
                        {{> "loop"}}
                    {{/foreach}}
                </div>
            </section>

            <section class="tag-post-list" aria-label="Post list">
                <h2 class="tag-post-list-title">Latest posts</h2>
                <div class="post-feed gh-feed js-promo-feed">
                    {{#foreach ../posts from="2"}}
                        {{> "loop"}}
                    {{/foreach}}
                </div>
            </section>

            {{pagination}}
        {{/if}}
    {{/get}}

</main>
</div>
